<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_1" data-view="FancyList" data-title="Daily Specials" data-moreinfo="Look at those icons!" data-icon="fa fa-fw fa-cutlery" style="background-color:#47bbb3;"></div>
    </li>
        
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_3" data-view="FancyList" data-icon="fa fa-user fa-fw" data-noentries="Since there are entries, this message won't be displayed" data-title="Scheduled Time Off" data-moreinfo="Works with all kinds of data" style="background-color:#ff9618;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_4" data-view="FancyList" data-icon="fa fa-user fa-fw" data-noentries="Robots don't take time off..." data-title="Scheduled Time Off" data-moreinfo="Set a message for when there's no data" style="background-color:#9c4274;"></div>
    </li>
    
  </ul>
</div>